@charset "UTF-8";

:root {
  --main-white: #ffffff;
  --light-blue: #ebf5fe;
  --md-blue: #9cd1fa;
  --twitter-blue: #1ea1f3;
  --light-blue: #ebf5fe;
  --statue-gray: #e6ecf0;
  --nobel-gray: #657786;
  --light-nobel-gray: #969595;
  --transparent-2-black: rgba(0, 0, 0, 0.2);
  --transparent-5-black: rgba(0, 0, 0, 0.5);
  --main-black: #000000;
  --min-width: 780px;
}
html {
  font-size: 16px;
  min-width: var(--min-width);
  margin: 7rem auto 0 auto;
}

body {
  background-color: var(--main-white);
  color: var(--very-dark-gray);
  font-family: "Open Sans", sans-serif;
  font-size: 0.9375rem; /*15px*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  line-height: 29px;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--hash-flag-blue);
  font-family: "Roboto Slab", serif;
}

.wrapper {
  width: 100%;
}

.font-alt {
  font-family: "Roboto Slab", serif;
}
